.RCDOverView{
    display: grid;
    column-gap: 20px;
    grid-template-columns: 400px 200px 200px;
    width:840px;
    border: dashed 1px;
    margin-top:10px;
    margin-left: auto;
    margin-right: auto;
}
.RCDOverView-ResultList{
    grid-row:1;
    grid-column: 1;
}
.RCDOverView-CodeList{
    grid-row:1;
    grid-column: 2;

}
.RCDOverView-DatasetList{
    grid-row:1;
    grid-column: 3;

}