.repositoryOverView{
    text-align:left;
    width: 800px;
    display:flex;
    background-color: azure;
    margin: auto;
}
.repositoryPaperOverView{
    width: 370px;
    margin-left:20px;
}
.repositoryDataOverView{
    float:right;
    width:370px;
    margin-left:20px;
}